<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ClientId</key>
	<string>hSv9Oql8lwziPWkHmLlBz3kMTaG1WMBX</string>
	<key>Domain</key>
	<string>dev-p4jitnexo6o7rklw.us.auth0.com</string>
</dict>
</plist>
